
@{
    ViewData["Title"] = "Courier";
}
<style>
    .e-grid .e-ejinputtext,
    e-datepicker e-field e-js e-input valid,
    .e-datewidget {
        width: 100% !important;
    }

    span.field-validation-error {
        color: red;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-truck"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @*<div id="Grid"></div>*@
                <div class="tablecontainer">
                    <a class="popup btn btn-primary" href="/Courier/Save" style="margin-bottom:20px; margin-top:20px;">Add New Courier Request</a>
                    <table id="myDatatable" class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>From</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Date</th>
                                <th>SendType</th>
                                <th>Destination</th>
                                <th>ReciverName</th>
                                <th>ReciverContactPerson</th>
                                <th>VesselsName</th>
                                <th>Job Number</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>



@section Scripts{

    <script>
        $(document).ready(function () {




            $('#myDatatable thead tr').clone(true).appendTo('#myDatatable thead');
            $('#myDatatable thead tr:eq(1) th').each(function (i) {
                debugger
                if (i === 11 || i === 12 || i === 13) {

                } else {

                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (oTable.column(i).search() !== this.value) {

                            oTable.column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                }

            });


            var oTable = $('#myDatatable').DataTable({
                "scrollX": true,
                orderCellsTop: true,
                fixedHeader: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body)
                                .css('font-size', '10pt')
                                .prepend(
                                    '<img src="https://www.gac.com/4a5ac2/siteassets/homepage/logo-lrg.png" style="position:absolute; top:0; left:0; opacity:0.2;" />'
                                );

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        },
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        },
                    },
                    { extend: 'pdf', className: 'btn blue btn-outline' },
                    { extend: 'csv', className: 'btn green btn-outline' }
                ],
                "ajax": {
                    //"url": '/api/Courier/GetCourier',
                    url: "/API/Courier/GetCourier",
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "CourierNumber", "autoWidth": true },
                    { "data": "CourierFM", "autoWidth": true },
                    { "data": "CourierDescription.Name", "autoWidth": true },
                    { "data": "Quantity", "autoWidth": true },
                    { "data": "CreatedDate", "autoWidth": true },
                    { "data": "CourierSendType.Name", "autoWidth": true },
                    { "data": "CourierDestination.Name", "autoWidth": true },
                    { "data": "ReciverName", "autoWidth": true },
                    { "data": "ReciverContactPerson", "autoWidth": true },
                    { "data": "VesselsName", "autoWidth": true },
                    { "data": "JopPerson", "autoWidth": true },
                    {
                        "data": "Id", "width": "50px", "render": function (data) {
                            return '<a class="btn btn-primary popup" href="/Courier/save/' + data + '">Edit</a>';
                        }
                    },
                    {
                        "data": "Id", "width": "50px", "render": function (data) {
                            //return '<a class="popup" href="/Courier/delete/' + data + '">Delete</a>';
                            return "<button class='btn btn-danger js-delete' data-requestid=" + data + ">Delete</button>";
                        }
                    },
                    {
                        "data": "Id", "width": "50px", "render": function (data) {
                           
                            return '<button class="btn btn-info js-print" data-requestid=' + data +'>Print</button>';
                        }
                    }

                ],
               "columnDefs": [
                 
                   {
                       targets: 4, render: function (data) {
                           return moment(data).format('MM/DD/YYYY');
                       }
                   }
                ]
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                debugger
                $('#datepickerr').datepicker();
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                debugger

                $('#datepickerr').datepicker();
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    
                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: true,
                        autoOpen: false,
                        resizable: false,
                        modal: true,
                        title: 'Request Dialog',
                        height: 490,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })

                $dialog.dialog('open');
                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    debugger
                    var Dataa = $('#popupForm').serialize();
                        $.ajax({
                            type: "POST",
                            url: "/api/Courier/Update",
                            data: Dataa,
                            success: function (data) {
                                debugger

                                $dialog.dialog('close');
                                oTable.ajax.reload();

                            }
                    })
                    e.preventDefault();

                })

                
            }


            $("#myDatatable").on("click", ".js-print", function () {

                debugger
                var button = $(this);
                var win = window.open("https://localhost:44308/Courier/Print/" + button.attr('data-requestid'));
                $(win).load(function () {
                    alert("myJsFunc");
                });       
            });



            $("#myDatatable").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this Request?", function (result) {
                    if (result) {

                        $.ajax({
                            url: "/api/Courier/" + button.attr("data-requestid"),
                            type: "GET",
                            success: function () {
                                oTable.row(button.parents("tr")).remove().draw();

                            }
                        });
                    }
                });
            });

            $('.class_name').click(function () {
                window.open(this.href);
                return false;
            });

        })


      

    </script>



}

